<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Fabric.Terminology.SqlServer" ToolsVersion="15.0">
  <Include Path="../Catalyst.MostRules.Error.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1008" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1413" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers.Exp" RuleNamespace="Microsoft.CodeQuality.Analyzers.Exp">
    <Rule Id="CA1062" Action="None" />
  </Rules>
</RuleSet>