<?xml version="1.0" encoding="utf-8"?>
<installation>
  <settings>
    <scope name="terminology">
      <!-- The address of the Sql Server Instance -->
      <variable name="sqlServerAddress" value="" />
      <!-- The name of the app and app pool that will be created in IIS -->
      <variable name="appName" value="TerminologyService" />
      <!-- The name of the IIS website to install the application under -->
      <variable name="siteName" value="Default Web Site" />
      <!-- The name of the Shared database on the sql server instance -->
      <variable name="sharedDbName" value="Shared" />
      <!-- The user account for the app to run under in IIS -->
      <variable name="iisUser" value="" />
      <variable name="iisUserPwd" value="" />
      <variable name="appPool" value="Terminology" />
      <!-- The Sql Server role that the app pool user will be added to -->
      <variable name="databaseRole" value="TerminologyServiceRole" />
      <variable name="discoveryServiceUrl" value="" />
    </scope>
  </settings>
</installation>
