<?xml version="1.0" encoding="utf-8" ?>
<registration>
  <apiresources>
    <api>
      <serviceName>TerminologyService</serviceName>
      <serviceVersion>1</serviceVersion>
      <name>terminology-api</name>
      <userClaims>
        <claim>name</claim>
        <claim>email</claim>
        <claim>role</claim>
        <claim>groups</claim>
      </userClaims>
      <scopes>
        <scope>dos/valuesets</scope>
      </scopes>
      <secretConfig>apiSecret</secretConfig>
      <certificateConfig>encryptionCertificate</certificateConfig>
    </api>
  </apiresources>
  <clients>
    <client>
      <serviceName>TerminologyService</serviceName>
      <serviceVersion>1</serviceVersion>
      <clientId>terminology-service</clientId>
      <clientName>terminology-client</clientName>
      <allowedScopes>
        <scope>fabric/authorization.read</scope>
      </allowedScopes>
      <allowedGrantTypes>
        <grantType>delegation</grantType>
        <grantType>client_credentials</grantType>
      </allowedGrantTypes>
      <secretConfig>clientSecret</secretConfig>
      <certificateConfig>encryptionCertificate</certificateConfig>
    </client>
  </clients>
  <authorization>
    <grain name="dos">
      <securableItem name="valuesets">
        <role name="valueset-publisher" displayName="Publisher" description="Create, read, update, and delete value sets"  groupName="DosAdmins">
          <permission name="manageauthorization"/>
          <permission name="access"/>
          <permission name="publish"/>
        </role>
        <role name="valueset-accessor" displayName="Accessor" description="Read access to value sets">
          <permission name="access"/>
        </role>
      </securableItem>
    </grain>
  </authorization>
</registration>
