<?xml version="1.0" encoding="utf-8"?>
<installation>
  <settings>
    <scope name="terminology">
      <!-- The name of the app and app pool that will be created in IIS -->
      <variable name="appName" value="TerminologyService" />
      <variable name="appPool" value="Terminology" />
      <!-- The URI for the Terminology Service -->
      <variable name="appEndpoint" value="" />
      <!-- The name of the IIS website to install the application under -->
      <variable name="siteName" value="Default Web Site" />
      <!-- The name of the Shared database on the sql server instance -->
      <variable name="sharedDbName" value="Shared" />
      <!-- The user account for the app to run under in IIS -->
      <variable name="iisUser" value="" />
      <variable name="iisUserPwd" value="" />
      <!-- The Sql Server role that the app pool user will be added to -->
      <variable name="databaseRole" value="TerminologyServiceRole" />
      <variable name="appInsightsInstrumentationKey" value="" />
    </scope>
    <scope name="common">
      <variable name="metadataDbName" value="EDWAdmin" />
      <variable name="sqlDataDirectory" value="" />
      <variable name="sqlLogDirectory" value="" />
      <variable name="discoveryService" value="" />
      <variable name="edwAddress" value="" />
      <variable name="sqlServerAddress" value="" />
      <variable name="fabricInstallerSecret" value="" />
      <variable name="encryptionCertificateThumbprint" value="" />
      <variable name="loaderWindowsUser" value="" />
      <variable name="processingServiceWindowsUser" value="" />
    </scope>
  </settings>
</installation>